<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/views/assets/homeAssets/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/views/assets/homeAssets/css/styles.css" rel="stylesheet" />

        
    <style>
      #backgroundVideo {
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    position: relative;
    left: 10px;
    right: 0;
    top: 40px;
    bottom: 0;
    z-index: -1;
        }
    </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <img src="/views/assets/logo.png" alt="logo" width="50" height="50">
          <a class="navbar-brand" href="#!" style="font-family: Georgia, serif; ">Infinity CRM</a>
            <div class="container px-5">
             
               
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacts">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                  <video autoplay loop muted id="backgroundVideo">
                    <source src="/views/videos/Motion graphics explainer video for a CRM software.mp4" type="video/mp4">
                    not supported
                  </video>
                  
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light" >THE GOLD
                      STANDARD
                      for great customer relationships</h1>
                    <p>Infinity CRM empowers a global network of over 250,000 businesses in 180 countries to convert more leads, engage with customers, and grow their revenue. Transform your business with the gold standard in customer relationship management software</p>
                    <a class="btn btn-primary" href="/signup">Get started with your free trial</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><h3 class="text-white m-0" >CRM for every business, for every industry!</h3></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Conversational AI for smarter selling</h2>
                            <p class="card-text">Find any information you need from your CRM data, instantly with the help of Zia, your AI-powered sales assistant.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Get real-time reports and insights</h2>
                            <p class="card-text"> Make smarter business decisions with powerful, real-time analytics.Measure and manage your organization’s territory-wide sales performance</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Save more time with automation</h2>
                            <p class="card-text">Automate every aspect of your business and cut out time-intensive, repetitive tasks. Streamline your lead nurturing process and make the most of every incoming lead.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; InfiniTy CRM 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/views/assets/homeAssets/js/scripts.js"></script>
    </body>
</html>
